body    {
    background-color: gray;
    padding: 0;
    margin: 0;
}

br  {
    margin: 0em;
}

h1  {
    font-family: 'Courier New', Courier, monospace;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0%;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    border-color: cyan;
}

li  {
    float: left;
}

li a    {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: 'Courier New', Courier, monospace;
}

li a:hover  {
    background-color: royalblue;
}

/*For when the mouse is hoving over the navigation bar*/
.active {
    background-color: blue;
}

/*Current Projects*/
.CP {
    font-weight: bolder;
    color: white;
}

/*Project List*/
.PL {
    font-weight: bold;
    color: whitesmoke;
    padding-bottom: 0%;
    line-height: 0%;
}

/*Project Descriptions*/
.PD {
    color: grey;
    font-size: small;
    line-height: 0%;
}

/*Next Steps*/
.NS {
    color: white;
}

/*List Item*/
.LI {
    color: white;
}