body    {
    background-color: black;
}

h1  {
    font-family: 'Courier New', Courier, monospace;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0%;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    border-color: cyan;
}

li  {
    float: left;
}

li a    {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: 'Courier New', Courier, monospace;
}

li a:hover  {
    background-color: royalblue;
}

.active {
    background-color: blue;
}

/*Current Projects*/
.CP {
    font-weight: bolder;
    color: white;
}

/*Project List*/
.PL {
    font-weight: bold;
    color: whitesmoke;
}

/*Project Descriptions*/
.PD    {
    color: grey;
    font-size: small;
}